body{
	font-family: Arial, Helvetica, san-serif;
	background-color: #ffc;
	margin:0px;
	padding:0px;
}

#wrapper {
	margin:0 auto;
	padding: 10px 30px 10px 30px;
	margin-top:100px;
	overflow:hidden;
}

.left{
	float:left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding:5px;
}

.right{
	float:right;
	margin-left: 1px;
	margin-bottom: 1px;
	padding:2px;
}

aside{
	width:240px;
	height:400px;
}

aside img{
	border: 1px solid #2F4F4F;
}

article{
	width:650px;
	border:1px solid black;
}

article img {
	float: left;
	margin-right: 3px;
}

header {
	position:fixed;
	background-color:#0B3B0B;
	color:white;
	clear:both;
	width:100%;
	top:0;
	height:50px;
	left:0;
	display: block;
	margin-bottom: 0px;
}

nav{
	font-family: 'Lobster', Arial, cursive;
	position:fixed;
	background-color:#3ADF00;
	color:white;
	clear:both;
	width:100%;
	top:50px;
	/*height:40px;*/
	left:0;
	border-bottom: 3px solid black;
	clear: both;
}

nav a:link {
    color: #0B3B0B;
    text-decoration: none;
}

nav a:visited {
    color: #A4A4A4;
    text-decoration: none;
}

nav a:hover {
    color: #F2F2F2;
    text-decoration:underline;
}

nav a:active {
    color: #0000FF;
    text-decoration:underline;
}

header h1{
	font-family: 'Lobster', Arial, cursive;
	margin-top: 0px;
	padding-top: 2px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
} 
nav {
	margin-top: 0px;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    font-size: 1.2em;
}
 
footer {
	text-align: center;
	background-color: #ACFA58;
    height: 40px;
    clear: both;
}